@model MonthlyBudget.Models.ViewModels.BudgetViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<script src="~/lib/jquery/dist/jquery.js"></script>

<h2>@ViewBag.Err</h2>

<a asp-controller="Home" asp-action="Index" id="previous">Previous</a>
<a asp-controller="Home" asp-action="Index" id="next">Next</a>

    <form asp-action="Index" method="post">
        <table>
            <tr>
                <td><label asp-for="BudgetMonth"></label></td>
                <td><select name="BudgetMonth" id="BudgetMonth">
                        @foreach (var i in Model.Months)
                        {
                            if (i.Key == Model.BudgetMonth)
                            {
                                <option value="@i.Key" selected="selected">@i.Value</option>
                            }

                            else
                            {
                                <option value="@i.Key">@i.Value</option>
                            }
                        }
                    </select></td>
            </tr>
            <tr>
                <td><label asp-for="BudgetYear"></label></td>
                <td><select asp-for="BudgetYear" asp-items="new SelectList(Model.Years)"></select></td>
            </tr>
            
            <tr><td><a asp-controller="Budget" asp-action="Index" id="changemonth">change month</a></td></tr>

            <tr>
                <td><label asp-for="Category"></label></td>
                <td><select asp-for="Category" asp-items="new SelectList(Model.Categories)"  ></select></td>
                <td><span asp-validation-for="Category"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Amount"></label></td>
                <td><input asp-for="Amount"></td>
                <td><span asp-validation-for="Amount"></span></td>
            </tr>
                
                
        </table>
        <input type="submit" value="Create" />
            
    </form>

    <form asp-action="CopyLastMonth" method="post">
        <input type="hidden" name="BudgetMonth" value=@Model.BudgetMonth />
        <input type="hidden" name="BudgetYear" value=@Model.BudgetYear />
        <label >Copy last month's budget: </label><input type="submit" value="copy" />
    </form>

    <a asp-area="" asp-controller="Category" asp-action="Index">Add Categories</a>

    <h2 id="something">Current budget for @Model.BudgetMonth / @Model.BudgetYear</h2>
    <table class="table table-striped">
        <thead>
            <tr class="tableheader"><td>Category</td><td>Amount</td><td></td></tr>
        </thead>
        <tbody>
            @foreach (var i in Model.BudgetItems)
            {
                <tr>
                    <td>@i.Category</td>
                    <td>@i.Amount</td>
                    @if (i.Category != "Total")
                    {
                        <td>
                            <form asp-action="DeleteBudget" method="post">
                                <input type="hidden" name="Category" value="@i.Category" />
                                <input type="hidden" name="Amount" value="@i.Amount" />
                                <input type="hidden" name="BudgetMonth" value="@i.BudgetMonth" />
                                <input type="hidden" name="BudgetYear" value="@i.BudgetYear" />
                                <input type="submit" value="delete" />
                            </form>
                        </td>

                    }
                    
                </tr>

            }
        </tbody>
    </table>

<script>
    //needed to update link to different month/years
    jQuery(document).ready(function () {
        jQuery('#BudgetYear').change(function () {
            a = document.getElementById('changemonth');
            var m = document.getElementById('BudgetMonth').value;
            var y = document.getElementById('BudgetYear').value;
            a.setAttribute('href', '/Budget/Index?m=' + m + '&y=' + y);

        });
        jQuery('#BudgetMonth').change(function () {
            a = document.getElementById('changemonth');
            var m = document.getElementById('BudgetMonth').value;
            var y = document.getElementById('BudgetYear').value;
            a.setAttribute('href', '/Budget/Index?m=' + m + '&y=' + y);

        });

        var prev = document.getElementById('previous');
        var next = document.getElementById('next');

        var prevm = @Model.BudgetMonth;
        var nextm = @Model.BudgetMonth;
        var prevy = @Model.BudgetYear;
        var nexty = @Model.BudgetYear;

        if (@Model.BudgetMonth == 1) {
            prevm = 12;
            nextm++;
            prevy--;
        }
        else if (@Model.BudgetMonth == 12){
            nextm = 1;
            nexty++;
            prevm--;
        }
        else {
            prevm--;
            nextm++;
        }


        prev.setAttribute('href', '/Budget/Index?m=' + prevm + '&y=' + prevy);
        next.setAttribute('href', '/Budget/Index?m=' + nextm + '&y=' + nexty);

    });

</script>