@model MonthlyBudget.Models.ViewModels.BudgetViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<script src="~/lib/jquery/dist/jquery.js"></script>

<h2>@ViewBag.Err</h2>
    <form asp-action="Index" method="post">
        <table>
            <tr>
                <td><label asp-for="BudgetMonth"></label></td>
                <td><select name="BudgetMonth" id="BudgetMonth">
                        @foreach (var i in Model.Months)
                        {
                            if (i.Key == Model.BudgetMonth)
                            {
                                <option value="@i.Key" selected="selected">@i.Value</option>
                            }

                            else
                            {
                                <option value="@i.Key">@i.Value</option>
                            }
                        }
                    </select></td>
            </tr>
            <tr>
                <td><label asp-for="BudgetYear"></label></td>
                <td><select asp-for="BudgetYear" asp-items="new SelectList(Model.Years)"></select></td>
            </tr>
            
            <tr><td><a asp-controller="Budget" asp-action="Index" id="changemonth">change month</a></td></tr>

            <tr>
                <td><label asp-for="Category"></label></td>
                <td><select asp-for="Category" asp-items="new SelectList(Model.Categories)"  ></select></td>
                <td><span asp-validation-for="Category"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Amount"></label></td>
                <td><input asp-for="Amount"></td>
                <td><span asp-validation-for="Amount"></span></td>
            </tr>
                
                
        </table>
        <input type="submit" value="Create" />
            
    </form>
    <a asp-area="" asp-controller="Category" asp-action="Index">Add Categories</a>

    <h2 id="something">Current budget for @Model.BudgetMonth / @Model.BudgetYear</h2>
    <table class="table table-striped">
        <thead>
            <tr class="tableheader"><td>Category</td><td>Amount</td><td></td></tr>
        </thead>
        <tbody>
            @foreach (var i in Model.BudgetItems)
            {
                <tr>
                    <td>@i.Category</td>
                    <td>@i.Amount</td>
                    @if (i.Category != "Total")
                    {
                        <td>
                            <form asp-action="DeleteBudget" method="post">
                                <input type="hidden" name="Category" value="@i.Category" />
                                <input type="hidden" name="Amount" value="@i.Amount" />
                                <input type="hidden" name="BudgetMonth" value="@i.BudgetMonth" />
                                <input type="hidden" name="BudgetYear" value="@i.BudgetYear" />
                                <input type="submit" value="delete" />
                            </form>
                        </td>

                    }
                    
                </tr>

            }
        </tbody>
    </table>

<script>
    //needed to update link to different month/years
    jQuery(document).ready(function () {
        jQuery('#BudgetYear').change(function () {
            a = document.getElementById('changemonth');
            var m = document.getElementById('BudgetMonth').value;
            var y = document.getElementById('BudgetYear').value;
            a.setAttribute('href', '/Budget/Index?m=' + m + '&y=' + y);

        });
        jQuery('#BudgetMonth').change(function () {
            a = document.getElementById('changemonth');
            var m = document.getElementById('BudgetMonth').value;
            var y = document.getElementById('BudgetYear').value;
            a.setAttribute('href', '/Budget/Index?m=' + m + '&y=' + y);

        });

    });

</script>