@model MonthlyBudget.Models.BudgetItem
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="~/lib/jquery-ui/themes/black-tie/jquery-ui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/datetimepicker/jquery.datetimepicker.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.js"></script>

<script type="text/javascript">
    //$.noConflict(true);
    $.noConflict();
    jQuery(document).ready(function ($) {
        $(function () {
            $('#BudgetDate').datepicker();
        });
    });
</script> 

    <h2>@ViewBag.Err</h2>
        <form asp-action="CreateBudget" method="post">
            <table>
                <tr>
                    <td><label asp-for="BudgetDate"></label></td>
                    <td><input asp-for="BudgetDate" /></td>
                </tr>

                <tr>
                    <td><label asp-for="Category"></label></td>
                    <td><select asp-for="Category" asp-items=ViewBag.Categories></select></td>
                    <td><span asp-validation-for="Category"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Amount"></label></td>
                    <td><input asp-for="Amount"></td>
                    <td><span asp-validation-for="Amount"></span></td>
                </tr>
                
                
            </table>
            <input type="submit" value="Create" />
            
        </form>
        <a asp-area="" asp-controller="Category" asp-action="Index">Add Categories</a>

        <h2>Current budget for ???</h2>
        <table>
            <thead>
                <tr><td>Category</td><td>Amount</td><td></td></tr>
            </thead>
            <tbody>
                @foreach (var i in ViewBag.BudgetItems)
                {
                    <tr>
                        <td>@i.Category</td>
                        <td>@i.Amount</td>
                        <td><form asp-action="DeleteBudget" method="post">
                            <input type="hidden" name="Category" value="@i.Category" />
                                <input type="hidden" name="Amount" value="@i.Amount" />
                                <input type="hidden" name="BudgetDate" value="@i.BudgetDate" />
                                <input type="submit" value="delete"/>
                            </form></td>
                    </tr>

                }
            </tbody>
        </table>
        
