@model MonthlyBudget.Models.ViewModels.ReportViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page">
    <h1>Change Month</h1>
    <form class="form-inline month-form" asp-action="Index" method="post">
        <div class="form-group">
            <select class="form-control" name="Month" id="Month">
                @foreach (var i in Model.Months)
                {
                    if (i.Key == Model.Month)
                    {
                        <option value="@i.Key" selected="selected">@i.Value</option>
                    }
                    else
                    {
                        <option value="@i.Key">@i.Value</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" asp-for="Year" asp-items="new SelectList(Model.Years)"></select>
        </div>
       
        <input type="submit" name="submit" value="submit" class="btn btn-primary month-btn" />
    </form>


    <table class="table table-striped">
        <thead>
            <tr class="tableheader">
                <td>Category</td>
                <td>Budgeted $</td>
                <td>Total Spent</td>
                <td>Difference</td>
            </tr>
        </thead>
        @foreach (var r in Model.ReportItems)
        {
            <tr>
                <td>@r.CategoryName</td>
                <td>@r.BudgetAmount</td>
                <td>@r.SpentAmount</td>
                <td>@r.Difference</td>
            </tr>
        }
    </table>
</div>
