@model MonthlyBudget.Models.ViewModels.ReportViewModel

@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<h1>Change Month</h1>

<a asp-controller="Home" asp-action="Index" id="previous">Previous</a>
<a asp-controller="Home" asp-action="Index" id="next">Next</a>

<form asp-action="Index" method="post">
    <select name="Month" id="Month">
        @foreach (var i in Model.Months)
        {
            if (i.Key == Model.Month)
            {
                <option value="@i.Key" selected="selected">@i.Value</option>
            }

            else
            {
                <option value="@i.Key">@i.Value</option>
            }
        }
    </select>

    <select asp-for="Year" asp-items="new SelectList(Model.Years)"></select>
    <input type="submit" name="submit" value="submit" />
</form>


<table class="table table-striped">
    <thead>
        <tr class="tableheader">
            <td>Category</td>
            <td>Budgeted $</td>
            <td>Total Spent</td>
            <td>Difference</td>
        </tr>
    </thead>
    @foreach (var r in Model.ReportItems)
    {
        <tr>
            <td>@r.CategoryName</td>
            <td>@r.BudgetAmount</td>
            <td>@r.SpentAmount</td>
            <td>@r.Difference</td>
        </tr>

    }
    

</table>

<script>
    //needed to update link to different month/years
    jQuery(document).ready(function () {
        var prev = document.getElementById('previous');
        var next = document.getElementById('next');

        var prevm = @Model.Month;
        var nextm = @Model.Month;
        var prevy = @Model.Year;
        var nexty = @Model.Year;

        if (@Model.Month == 1) {
            prevm = 12;
            nextm++;
            prevy--;
        }
        else if (@Model.Month == 12){
            nextm = 1;
            nexty++;
            prevm--;
        }
        else {
            prevm--;
            nextm++;
        }


        prev.setAttribute('href', '/Home/Index?m=' + prevm + '&y=' + prevy);
        next.setAttribute('href', '/Home/Index?m=' + nextm + '&y=' + nexty);
    });
</script>